
  
<h1>Saved Data</h1>

      <ul>
        {{#each savedData}}
       
            
          <span>{{ tNumber}}</span>
       
              <span>{{address}}</span>
          
            <span>{{postal}}</span></span>
         
         {{/each }}
       </ul>
  
    