<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/output.css">
  </head>
  <body>
      {{{body}}}
  </body>
  
  {{!-- Footer --}}
  <footer class="body-font">
    <div class="bg-black">
      <div class="container px-5 py-6 mx-auto items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center justify-center text-gray-900">
           <img
            alt="Target "
            src="https://logolook.net/wp-content/uploads/2021/06/Symbol-Target.png"
            loading="eager"
            class="hero-logo1"
          />
        </a>
      </div>
    </div>
  </footer>
<html>
  
    

