<section class="hero-hero bg-red-600">
  <div class="hero-menu">
    <div class="hero-desktop-navigation">
      <nav class="hero-centered">
        <div class="hero-left">
          <img
            alt="Target "
            src="https://logolook.net/wp-content/uploads/2021/06/Symbol-Target.png"
            loading="eager"
            class="hero-logo1"
          />
        </div>
        <div class="hero-right mr-5">
          <span class="hero-sign-in Link"><span>Sign in</span></span>
          <div class="hero-get-started">
            <span class="hero-text3"><span>Sign up</span></span>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="hero-header">
    <h1 class="hero-text4"><span>Search Target Locations</span></h1>
    <div class="hero-container pt-8">
      <input
        type="text"
        placeholder="Search by Location or T-number"
        class="hero-textinput input mr-5 p-2 rounded-lg"
      />
      <div class="hero-get-started1">
        <span class="hero-text5"><span>Search</span></span>
      </div>
    </div>
  </div>
</section>