<section id="loginSignup" class="gradient-form h-full bg-neutral-200 dark:bg-neutral-700">
  <div class="container h-full p-10">
    <div class="g-6 flex h-full flex-wrap items-center justify-center text-neutral-800 dark:text-neutral-200">
      <div class="w-screen">
        <div class="block rounded-lg bg-stone-50 shadow-lg dark:bg-neutral-800">
          <div class="g-0 lg:flex lg:flex-wrap">
            <div class="px-4 md:px-0 lg:w-6/12">
              <div class="md:mx-6 md:p-12">
                <div class="text-center">
                  <img class="mx-auto w-3/6 h-70" src="/img/ldapLogo.png" alt="logo" />
                  <h4 class="mt-1 mb-12 pb-1 text-xl font-semibold">
                    LDAP
                  </h4>
                </div>
                <form class="form login-form">
                  <p class="mb-4 text-center">Login To Your Account</p>
                  <div class="form-group relative mb-4" data-te-input-wrapper-init>
                    <input type="text" placeholder="Email"
                      class="form-input peer block min-h-[auto] w-full rounded border border-gray-400 bg-transparent py-[0.32rem] px-3 leading-[2.15] outline-none"
                      id="email-login" placeholder="Email" />
                    <label for="email-login"
                      class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500">
                    </label>
                  </div>
                  <div class="form-group relative mb-4" data-te-input-wrapper-init>
                    <input type="password"
                      class="form-input peer block min-h-[auto] w-full rounded border border-gray-400 bg-transparent py-[0.32rem] px-3 leading-[2.15] outline-none"
                      id="password-login" placeholder="Password" />
                    <label for="password-login"
                      class="pointer-events-none absolute top-0 left-3 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500">
                    </label>
                  </div>
                  <div class="form-group mb-12 pt-1 pb-1 text-center">
                    <button id="outlineBox"
                      class="login-form btn btn-primary mb-3 inline-block w-full rounded px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
                      type="submit" data-te-ripple-init data-te-ripple-color="light" style="
                        background: linear-gradient(to right,  #d8363a,  #8C4747);
                      ">
                      Log in
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div id="centerText" class="flex items-center rounded-b-lg lg:w-6/12 lg:rounded-r-lg lg:rounded-bl-none"
              style="background: linear-gradient(to right, #d8363a,  #8C4747)">
              <div class="px-4 py-6 text-white md:mx-6 md:p-12">
                <h4 class="mb-6 text-xl font-semibold">
                  We Are More Than Just A Company
                </h4>
                <p class="text-sm mb-20">
                  Sign In To Use Chat Bot AI
                </p>
                <a href="/guest"><button type="button" id="outlineBox"
                    class="signUp mb-3 inline-block w-full rounded px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
                    type="button" data-te-ripple-init data-te-ripple-color="light" style="
                        background: linear-gradient(to right,  #8C4747,   #d8363a);
                      ">Guest</button></a>
                <p class="flex flex-wrap items-center justify-center text-neutral-100">or</p>
                <button type="button" id="outlineBox"
                  class="btn btn-primary mb-3 mt-4 inline-block w-full rounded px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_rgba(0,0,0,0.2)] transition duration-150 ease-in-out hover:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)] focus:outline-none focus:ring-0 active:shadow-[0_8px_9px_-4px_rgba(0,0,0,0.1),0_4px_18px_0_rgba(0,0,0,0.2)]"
                  onclick="redirectToSignUp()" type="submit" data-te-ripple-init data-te-ripple-color="light" style="
                        background: linear-gradient(to right, #8C4747,   #d8363a);
                      ">Sign Up</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="/js/login.js"></script>