/******************************************************************************
STYLES FOR HERO SECTION ON HOMEPAGE
******************************************************************************/
.hero-hero {
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  flex-direction: column;
}
.hero-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-logo {
  width: 64px;
}
.hero-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.hero-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
}
.hero-centered {
  width: 100%;
  height: 101px;
  display: flex;
  max-width: 1200px;
  box-shadow: 5px 5px 10px 0px #1f1f1f;
  box-sizing: initial;
  align-items: center;
  padding-left: 100px;
  border-radius: 50px;
  padding-right: 10px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.hero-left {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.hero-logo1 {
  width: 105px;
  margin-left: 10px;
}

.hero-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: row;
  padding-bottom: 10px;
}
.hero-sign-in {
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding: 10px;
  border-radius: 56px;
  flex-direction: column;
  background-color: #5d5d5d;
  color: #fff;
}
.hero-sign-in:hover {
  background-color: #000;
}
.hero-get-started {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding: 10px;
  border-radius: 56px;
  flex-direction: column;
  background-color: #f50606;
}
.hero-get-started:hover {
  background-color: #fa7878;
}
.hero-text3 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.hero-header {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.hero-text4 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 5px;
}
.hero-container {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-items: center;
}
.hero-textinput {
  width: 285px;
  border-color: black;
  border-style: double;
  border-width: 2px;
  margin-right: 10px;
}
.hero-get-started1 {
  color: white;
  width: 139px;
  cursor: pointer;
  display: flex;
  padding: 8px;
  transition: 0.3s;
  align-items: center;
  border-radius: 56px;
  flex-direction: column;
  background-color: #000000;
}
.hero-get-started1:hover {
  color: black;
  background-color: #ffffff;
}
.hero-text5 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}

/******************************************************************************
MEDIA QUERIES FOR HOMEPAGE
******************************************************************************/
@media (max-width: 991px) {
  .hero-hero {
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero-desktop-navigation {
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .hero-left {
    margin-left: 5px;
  }
  .hero-logo1 {
    width: 64px;
  }
  .hero-header {
    width: 100%;
    max-width: 1200px;
  }
}
@media (max-width: 767px) {
  .hero-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .hero-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .hero-left {
    margin-left: 5px;
  }
  .hero-right {
    margin-right: 5px;
  }

  .hero-header {
    height: 100%;
    margin-top: 50px;
    justify-content: center;
  }
  .hero-text4 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
  }
  .hero-get-started1 {
    margin-top: 10px;
  }
}
@media (max-width: 479px) {
  .hero-hero {
    padding-bottom: 160px;
  }
  .hero-logo {
    margin-left: 0px;
  }
  .hero-icon {
    align-items: center;
    justify-content: center;
  }
  .hero-get-started1 {
    width: 100%;
  }
}

/******************************************************************************
SAVED LOCATIONS FOR HOMEPAGE
******************************************************************************/
.saved-locations-saved-locations {
  width: 100%;
  height: 542px;
  display: flex;
  padding: 48px;
  z-index: 1;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #f5eeee;
}
.saved-locations-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.saved-locations-text {
  color: #f50606;
  font-size: 56px;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 72px;
}
.saved-locations-cards {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: 80px;
  align-items: center;
  flex-direction: column;
}
.saved-locations-container {
  gap: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.saved-locations-target-card {
  box-shadow: 5px 5px 10px 0px #191818;
  padding-top: 60px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 60px;
  background-color: #ffffff;
  border-radius: 20px;
}
.saved-locations-text1 {
  font-size: 28px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.saved-locations-stats {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  justify-content: center;
}
.saved-locations-stat {
  display: flex;
  padding: 8px;
  align-items: center;
  flex-direction: column;
}
.saved-locations-icon {
  fill: #f50606;
  width: 48px;
  height: 48px;
}
.saved-locations-text2 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  text-transform: uppercase;
}
.saved-locations-stat1 {
  display: flex;
  padding: 8px;
  align-items: center;
  flex-direction: column;
}
.saved-locations-icon02 {
  width: 48px;
  height: 48px;
}
.saved-locations-text3 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.saved-locations-icon04 {
  right: 30px;
  width: 24px;
  bottom: 21px;
  height: 24px;
  position: absolute;
}
.saved-locations-target-card1 {
  box-shadow: 5px 5px 10px 0px #191818;
  padding-top: 60px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 60px;
  background-color: var(--dl-color-gray-white);
}
.saved-locations-text4 {
  font-size: 28px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.saved-locations-stats1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  justify-content: center;
}
.saved-locations-stat2 {
  display: flex;
  padding: 8px;
  align-items: center;
  flex-direction: column;
}
.saved-locations-icon07 {
  fill: #f50606;
  width: 48px;
  height: 48px;
}
.saved-locations-text5 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  text-transform: uppercase;
}
.saved-locations-stat3 {
  display: flex;
  padding: 8px;
  align-items: center;
  flex-direction: column;
}
.saved-locations-icon09 {
  width: 48px;
  height: 48px;
}
.saved-locations-text6 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.saved-locations-icon11 {
  right: 30px;
  width: 24px;
  bottom: 21px;
  height: 24px;
  position: absolute;
}
@media (max-width: 991px) {

  .saved-locations-title {
    width: 100%;
    max-width: 1200px;
  }
  .saved-locations-text {
    font-size: 36px;
    line-height: 40px;
  }
  .saved-locations-cards {
    margin-top: var(--dl-space-space-fiveunits);
  }
}
@media (max-width: 767px) {
  .saved-locations-saved-locations {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .saved-locations-text {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
  }
  .saved-locations-container {
    gap: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .saved-locations-text1 {
    font-size: 24px;
  }
  .saved-locations-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .saved-locations-stat {
    padding: var(--dl-space-space-unit);
  }
  .saved-locations-text2 {
    text-align: center;
  }
  .saved-locations-stat1 {
    padding: var(--dl-space-space-unit);
  }
  .saved-locations-text3 {
    text-align: center;
  }
  .saved-locations-text4 {
    font-size: 24px;
  }
  .saved-locations-stats1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .saved-locations-stat2 {
    padding: var(--dl-space-space-unit);
  }
  .saved-locations-text5 {
    text-align: center;
  }
  .saved-locations-stat3 {
    padding: var(--dl-space-space-unit);
  }
  .saved-locations-text6 {
    text-align: center;
  }
}
@media (max-width: 479px) {
  .saved-locations-cards {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .saved-locations-container {
    gap: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .saved-locations-stats {
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .saved-locations-stats1 {
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
}
